<form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
  <table>
    <tr>
      <td>name</td>
      <td>
        <input name="id" [(ngModel)]="id" type="hidden" /> 
        <input name="name" type="text" required [(ngModel)]="name" />
      </td>
    </tr>
    <tr>
      <td>address</td>
      <td> <input name="address" required type="text" [(ngModel)}="address"/></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
  </tr>
  <tr *ngFor="let k of Repdata;let i=index">
    <td>{{i+1}}</td>
    <td>{{k.name}}</td>
    <td>{{k.address}}</td>


  </tr>
</table>